@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC");
@import url('https://fonts.googleapis.com/css?family=Anton');
body {
    background: #28587b;
}

h1 {
    text-align: center;
    color:ghostwhite;
    font-family: 'Bowlby One SC', cursive;
    font-size: 40px;
    text-shadow: 3px 2px #2E2E2E;
    letter-spacing: 2px;
}
h2{
    padding-top: 5px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: #2E2E2E;
    letter-spacing: 1px;
    
    
}

.container {
    background: #28587b;
    height: 800px;
    width: 800px;
    margin: auto;
    padding-top: 2px;
}

#background {
    height: 300px;
    width: 400px;
    background: #E5E1D6;
    margin: auto;
    border-bottom: 30px solid #CFCBC1;
    border-radius: 10px;
}

#screen {
    position: relative;
    border: 4px solid #2E2E2E;
    height: 59px;
    width: 300px;
    top: -140px;
    right: 5px;
    background:  #2E2E2E;
    margin: auto;
    border-radius: 10px;
}



#middle-screen {
    position: relative;
    margin: auto;
    width: 260px;
    height: 50px;
    top: -15px;
    background: #BCECDF;
    border-radius: 3px;
}

#pad-container {
    position: relative;
    display: inline-block;
    border: 4px solid #C8C7C7;
    height: 150px;
    width: 200px;
    top: 120px;
    left: 15px;
    text-align: center;
    border-radius: 6px;
    margin: auto;
    padding-top:10px;
    padding-left: 5px;
    padding-right: 5px;

}

.pad {
    position: relative;
    display: inline-block;
    margin: auto;
    height: 40px;
    width: 55px;
    background: #594F4D;
    box-shadow: 1px 1px 1px grey;
    border-radius: 5px;
    padding: 1px;


}

.pad:active {
    box-shadow: 0px 0px 0px black;

}



input[type="range"] {
    position: relative;
    margin: auto;
    left: 190px;
    bottom:100px;
    transform: rotate(270deg);
}

#slider {
    -webkit-appearance: none;
    background: #d3d3d3;
}

input[type=range]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    height: 23px;
    width: 8px;
    border-radius: 3px;
    background:  #594F4D;
    top: -10px;
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 4px;
    cursor: pointer;
    background:#C8C7C7;
    outline: none;
    
   
}
input[type=range]:focus {
  outline: none;
}

#dial {
  position: relative;
  height: 50px;
  width: 50px;
  background: #2E2E2E;
  -webkit-clip-path: circle(44.6% at 50% 50%);
  clip-path: circle(44.6% at 50% 50%);
  left: 300px;
  top: -120px;
  border: 2px solid #2E2E2E;
  border-radius: 100%;
box-shadow: 0px 0px 2px 0px black;
}
#middle-circle {
  position: relative;
  height: 20px;
  width: 20px;
  background: grey;
  -webkit-clip-path: circle(44.6% at 50% 50%);
  clip-path: circle(44.6% at 50% 50%);
  left: 35px;
  top: 4px;
}

#button1,
#button2,
#button3,
#button4 {
    display: inline-block;
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 10%;
    margin-top: 3px;
}

.button-container {
    position: relative;
    left: 300px;
    bottom: 120px;
    width: 75px;
    height: 75px;
    text-align: center;
    border: 4px solid #C8C7C7;
    border-radius: 10%;
    

    
}

#button1 {
   

    
}

#button2 {
    background: #FF4C3C;
    box-shadow: 0px 0px 2px 0px black;
}

#button3 {
    background: green;
    box-shadow: 0px 0px 2px 0px black;
}

#button4 {
   
}
