@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');
body {
    background: #28587b
}

h1 {
    text-align: center;
    color: #28587b;
    font-family: 'Bowlby One SC', cursive;
    font-size: 40px;
    text-shadow: 4px 4px black;
}

.container {
    background: #d7f9f1;
    height: 800px;
    width: 800px;
    margin: auto;
    padding-top: 2px;
}

#background {
    height: 300px;
    width: 500px;
    background: #28587b;
    margin: auto;
    border-bottom: 30px solid black;
    border-right: 5px solid black;
}

#screen {
    position: relative;
    border: 3px solid black;
    height: 59px;
    width: 300px;
    top: -140px;
    left: 20px;
    background: #9fb4c7;
}

#left-rect {
    width: 10px;
    height: 63px;
    position: relative;
    background: black;
    top: -3px;
}

#right-rect {
    width: 10px;
    height: 62px;
    position: relative;
    background: black;
    top: -65px;
    float: right;
}

#middle-screen {
    position: relative;
    margin: auto;
    border: 2px solid black;
    width: 260px;
    height: 40px;
    top: -55px;
    background: #7aa095;
}

#pad-container {
    position: relative;
    border: 3px solid black;
    height: 150px;
    width: 200px;
    top: 120px;
    left: 15px;
    padding: 6px;
    padding-bottom: 1px;
}

#pad {
    position: relative;
    display: inline-block;
    border-bottom: 4px solid black;
    border-right: 3px solid black;
    height: 40px;
    width: 40px;
    padding: 1px;
    background: grey;
}

#dial {
    position: relative;
    height: 80px;
    width: 90px;
    background: white;
    -webkit-clip-path: circle(44.6% at 50% 50%);
    clip-path: circle(44.6% at 50% 50%);
    left: 350px;
    top: -170px;
    border: 6px solid black;
    border-radius: 100%;
}

#middle-circle {
    position: relative;
    height: 40px;
    width: 40px;
    background: grey;
    -webkit-clip-path: circle(44.6% at 50% 50%);
    clip-path: circle(44.6% at 50% 50%);
    left: 25px;
    top: 20px;
}

#pointer {
    position: relative;
    margin: auto;
    width: 30px;
    height: 30px;
    background: red;
    top: -37px;
    right: -6px;
    -webkit-clip-path: polygon(50% 0%, 34% 100%, 67% 100%);
    clip-path: polygon(50% 0%, 34% 100%, 67% 100%);
    transform: rotate(45deg);
}

#tick1,
#tick2,
#tick3,
#tick4,
#tick5,
#tick6,
#tick7,
#tick8 {
    border: 1px solid black;
    width: 10px;
}

#tick1 {
    position: relative;
    margin: auto;
    top: -35px;
    transform: rotate(90deg);
}

#tick2 {
    position: relative;
    margin: auto;
    top: 30px;
    transform: rotate(90deg);
}

#tick3 {
    position: relative;
    margin: auto;
    right: -32px;
    background: black;
    top: -4px;
}

#tick4 {
    position: relative;
    margin: auto;
    right: 32px;
    background: black;
    top: -4px;
}

#tick5 {
    position: relative;
    margin: auto;
    right: 25px;
    background: black;
    top: -33px;
    transform: rotate(45deg);
}

#tick6 {
    position: relative;
    margin: auto;
    right: -25px;
    background: black;
    top: -33px;
    transform: rotate(-45deg);
}

#tick7 {
    position: relative;
    margin: auto;
    right: 25px;
    background: black;
    top: 10px;
    transform: rotate(-45deg);
}

#tick8 {
    position: relative;
    margin: auto;
    right: -25px;
    background: black;
    top: 10px;
    transform: rotate(45deg);
}

.button-container {
    position: relative;
    border: 3px solid black;
    left: 310px;
    bottom: 170px;
    width: 150px;
    height: 80px;
}


input[type="range"] {
    position: relative;
    margin: auto;
    left: 200px;
    top: -130px;
    transform: rotate(270deg);

}

#slider {
    -webkit-appearance: none;
    background: #d3d3d3;

}

input[type=range]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 20px;
    background: #ffffff;
    top: -13px;
    background: #9fb4c7;

}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 9px;
    cursor: pointer;
    background: #3071a9;
    border: 2px solid #010101;
}
